@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700&d&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

body {
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

.website-header {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
  height: 10vh;
  padding: 2rem;
  padding-left: 4rem;
  background-color: rgb(178, 178, 178);
}
